@import "src/styles/variables.scss";

.working-table-image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .svg {
    height: 600px;

    #table-shadow,
    #light-of-lamp {
      fill: $shadow-color;
    }

    #night-time {
      display: none;
    }

    #eye_eye-right,
    #eye_eye-left {
      animation: blink 4s infinite;
    }
  }
}

// Double Blink
@keyframes blink {
  0%,
  8% {
    opacity: 1;
  }
  10%,
  12% {
    opacity: 0.1;
  }
  13% {
    opacity: 1;
  }
  14%,
  16% {
    opacity: 0;
  }
  18%,
  100% {
    opacity: 1;
  }
}
